.planet-img {
  width: 55%;
}

.planet-item {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-para {
  width: 90%;
  line-height: 2;
}

.planet-heading {
  font-size: 30px;
}
